// Base styles
html {
    font-size: 16px;
    line-height: 1.5;
  }
  body {
    font-family: $font-family;
    line-height: 1.5;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1rem;
  }
  h6 {
    font-size: 0.75rem;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
  }
  p {
    font-size: 1rem;
  }
  // Alinging text
  .text-left {
    text-align: left;
  }
  .text-right {
    text-align: right;
  }
  .text-center {
    text-align: center;
  }
  
  // Centering child
  .center-child {
    display: grid;
    place-items: center;
  }
  
  // Flex properties
  .flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .flex-start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .align-start {
    display: flex;
    align-items: flex-start;
  }
  
  // Responsive Image
  .img-responsive {
    width: 100%;
    height: auto;
  }
