.hero-div {
    width: 500px;
    padding: 13rem 0;
    h2,
    p {
        color: $textLight;
    }
}
.padding {
    padding: 8rem 0;
}

// Main Section
.sec1,
.sec2,
.sec4,
.sec5 {
    h2 {
        padding-bottom: 5rem;
    }
    div {
        width: 318px;
        h5 {
            padding: 1rem 0;
        }
    p {
        color: $textDark;
    }
    }
}
.sec2 {
    div {
        width: auto;
    }
    p {
        padding: 1rem 0;
    }
}
.sec3 {
    background: #103485;
    color: $textLight;
}
.card {
    img {
        width: 100%;   
        height: auto;
    }
    div p {
        justify-content: flex-start;
    }
}
.card-text {
    background: #103485;
    color: $textLight;
    padding: 0.5rem;
    div p {
        width: 50%;
    }
    position: relative;
    top: -0.5rem;
}
.sec6 {
    background: #1E282E;
    color: $textLight;
    p {
        color: $textDark;
    }
    img {
        width: 100%;
    }
}
.sec7 {
    h2,p {
        padding-bottom: 1.5rem;
    }
    width: 800px;
    margin: 0 auto;
    img {
        border-radius: 50%;
        display: inline-block;
    }

    span {
        font-weight: bold;
        color: red;
    }
}
.testimonial-text {
    width: 300px;
}
.gap {
    padding: 0.5rem;
}

.main_icon {
    color: #EF9632;
    font-size: 3rem;
}

// Responsive
@media all and (max-width: 768px) {
    .hero-div {
        width: 400px;
    }
    .sec1-grid,
    .sec4-grid,
    .sec5-grid {
        margin: 0 auto;
    }
    .sec2-img-div {
        img {
            width: 100%;
        }
    }
    .sec7 {
        width: 100%;
    }
}