/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button,
input,
textarea {
  box-shadow: none;
  outline: 0;
  border: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

a {
  display: inline-block;
  text-decoration: none; }

html {
  font-size: 16px;
  line-height: 1.5; }

body {
  font-family: "Lato", "sans-serif";
  line-height: 1.5; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2.5rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1rem; }

h6 {
  font-size: 0.75rem; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700; }

p {
  font-size: 1rem; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.center-child {
  display: grid;
  place-items: center; }

.flex {
  display: flex; }

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; }

.flex-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap; }

.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start; }

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center; }

.align-start {
  display: flex;
  align-items: flex-start; }

.img-responsive {
  width: 100%;
  height: auto; }

.btn {
  padding: 0.5rem 1.7rem;
  border: 1px solid #888;
  color: #fff;
  background: #000;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 0.04rem;
  cursor: pointer; }
  .btn:hover {
    background: #f34638; }

.btn-primary {
  border: none;
  color: #fff;
  background: #EF9632;
  margin: 1rem 0; }

.form-control {
  display: block;
  width: 100%;
  padding: 0.8rem 1rem;
  border: 1px solid #888;
  color: #888;
  width: 100%;
  border-radius: 4px; }
  .form-control::placeholder {
    color: #888;
    font-size: 0.9rem; }

.padding {
  padding: 4rem 0; }

.heading {
  font-size: 1.8rem;
  font-weight: 300; }

.sub-heading {
  font-size: 1rem;
  font-weight: 300;
  margin-top: 0.8rem;
  letter-spacing: 0.05rem; }

.main-text {
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 0.04rem; }

.logo {
  font-weight: 300;
  color: #fff;
  cursor: pointer; }

header {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #777;
  position: absolute;
  width: 100%; }

.nav-bar a {
  padding: 0 20px;
  color: #fff; }
  .nav-bar a:hover {
    color: #DF903D; }

#active {
  color: #DF903D; }

.hero {
  background: url("../media/banner.jpg");
  background-size: cover; }

footer {
  padding: 6rem 0;
  background: #1E282E; }
  footer p,
  footer a {
    color: #888;
    line-height: 2; }
  footer h4 {
    margin: 1rem 0;
    color: #fff; }
  footer input {
    width: 100%;
    padding: 1.2rem;
    background: transparent;
    border: 1px solid skyblue; }

.lower-footer {
  background: #232C33;
  padding: 2rem 0;
  color: #888; }

.f_icon {
  font-size: 1.5rem;
  padding: 0.8rem; }

#toggle,
.ham {
  display: none; }

@media all and (max-width: 768px) {
  html {
    font-size: 14px; }
  .footer-div {
    justify-content: center; }
    .footer-div address,
    .footer-div div {
      width: 100%; }
  .footer-icon {
    margin: 0 auto; }
  .menu {
    flex-direction: column;
    justify-content: center;
    display: none;
    position: absolute;
    width: 100%;
    background: #1F2631;
    left: 0;
    top: 73px; }
    .menu .menu-link {
      margin: 1rem 0;
      font-size: 1.2rem;
      color: #fff; }
  .ham {
    display: inline-block;
    position: relative;
    z-index: 100;
    color: #fff;
    cursor: pointer; }
  #toggle:checked ~ .menu {
    display: flex; } }

/* Dropdown Button */
.dropbtn {
  padding: 16px;
  border: none; }

/* The container */
.dropdown {
  position: relative;
  display: inline-block; }

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block; }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block; }

.wrapper {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 0 6.5rem; }

.grid-col2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem; }

.grid-col3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem; }

.grid-col4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem; }

@media all and (max-width: 768px) {
  .wrapper {
    padding: 0 2rem; }
  .grid-col1 {
    display: grid;
    grid-template-columns: 1fr; } }

.hero-div {
  width: 500px;
  padding: 13rem 0; }
  .hero-div h2,
  .hero-div p {
    color: #fff; }

.padding {
  padding: 8rem 0; }

.sec1 h2,
.sec2 h2,
.sec4 h2,
.sec5 h2 {
  padding-bottom: 5rem; }

.sec1 div,
.sec2 div,
.sec4 div,
.sec5 div {
  width: 318px; }
  .sec1 div h5,
  .sec2 div h5,
  .sec4 div h5,
  .sec5 div h5 {
    padding: 1rem 0; }
  .sec1 div p,
  .sec2 div p,
  .sec4 div p,
  .sec5 div p {
    color: #888; }

.sec2 div {
  width: auto; }

.sec2 p {
  padding: 1rem 0; }

.sec3 {
  background: #103485;
  color: #fff; }

.card img {
  width: 100%;
  height: auto; }

.card div p {
  justify-content: flex-start; }

.card-text {
  background: #103485;
  color: #fff;
  padding: 0.5rem;
  position: relative;
  top: -0.5rem; }
  .card-text div p {
    width: 50%; }

.sec6 {
  background: #1E282E;
  color: #fff; }
  .sec6 p {
    color: #888; }
  .sec6 img {
    width: 100%; }

.sec7 {
  width: 800px;
  margin: 0 auto; }
  .sec7 h2, .sec7 p {
    padding-bottom: 1.5rem; }
  .sec7 img {
    border-radius: 50%;
    display: inline-block; }
  .sec7 span {
    font-weight: bold;
    color: red; }

.testimonial-text {
  width: 300px; }

.gap {
  padding: 0.5rem; }

.main_icon {
  color: #EF9632;
  font-size: 3rem; }

@media all and (max-width: 768px) {
  .hero-div {
    width: 400px; }
  .sec1-grid,
  .sec4-grid,
  .sec5-grid {
    margin: 0 auto; }
  .sec2-img-div img {
    width: 100%; }
  .sec7 {
    width: 100%; } }

/*contact section1*/
.contact-heading h2 {
  font-size: 3rem;
  color: #353333;
  font-weight: 900;
  padding-top: 5rem; }

.contact-heading p {
  font-size: 1rem;
  color: #888;
  font-weight: 100;
  padding: 1rem; }

/*contact form*/
.wrapper2 {
  width: 100%;
  padding: 1rem 7rem; }
  .wrapper2 h3 {
    font-size: 1rem;
    font-weight: 900;
    padding: 0.5rem 0; }
  .wrapper2 p {
    padding-bottom: 5rem; }

/*Map*/
.map-embed {
  width: 100%; }

.gallery-img {
  width: 350px;
  margin: 0 auto; }
  .gallery-img img {
    width: 100%; }

.img-grid {
  margin-bottom: 5rem; }

@media all and (max-width: 768px) {
  .gallery-img {
    width: 300px img;
      width-width: 100%; } }
